In [15]:
import csv

In [16]:
import csv

# Open the CSV file
with open('books.csv', mode='r') as file:
    # Create a DictReader object
    reader = csv.DictReader(file)
    
    # Read the rows into a list of dictionaries
    books = [row for row in reader]

In [17]:
# Print the values in books
for book in books:
    print(book)

{'author': 'J R R Tolkien', 'book': 'The Hobbit'}
{'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}

In [18]:
import sqlite3

# Connect to SQLite database (creates books.db if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Create the books table
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
''')

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [19]:
import csv
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Open the CSV file
with open('books2.csv', mode='r') as file:
    # Create a DictReader object
    reader = csv.DictReader(file)
    
    # Iterate over the rows in the CSV
    for row in reader:
        # Insert each row into the books table
        cursor.execute('''
        INSERT INTO books (title, author, year) VALUES (?, ?, ?)
        ''', (row['title'], row['author'], row['year']))

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [20]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Execute a query to select the title column in alphabetical order
cursor.execute('SELECT title FROM books ORDER BY title')

# Fetch all rows
titles = cursor.fetchall()

# Print each title
for title in titles:
    print(title[0])  # title[0] to access the first element in the tuple

# Close the connection
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [21]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Execute a query to select all columns ordered by year
cursor.execute('SELECT * FROM books ORDER BY year')

# Fetch all rows
rows = cursor.fetchall()

# Print each row
for row in rows:
    print(row)

# Close the connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Mi√©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [23]:
from sqlalchemy import create_engine, Table, MetaData, select

# Create a database engine
engine = create_engine('sqlite:///books.db')

# Create a MetaData instance
metadata = MetaData()

# Reflect the existing table
books = Table('books', metadata, autoload_with=engine)

# Create a select statement to get the title column in alphabetical order
stmt = select(books.c.title).order_by(books.c.title)

# Execute the statement and fetch all results
with engine.connect() as conn:
    result = conn.execute(stmt)
    titles = result.fetchall()

# Print each title
for title in titles:
    print(title[0])  # title[0] to access the first element in the tuple

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!